:root {
  --primary-color: #FFC0CBFF;
  --secondary-color: #e6e4e4;


  --text-color: #212529;
  --bg-color: #F8D3D9FF;
  --border-radius: 4px;
  --font-size: 16px;
  --font-family:'Red Hat Display',sans-serif;
}