:root {
  --primary-color: #FFC0CBFF;
  --secondary-color: #eddee0;
  --border-color: #ebacb6;
  --bg-list: #cab2b6;
  --text-color: #212529;
  --textList-color:#030303;
  --bg-color: #F8D3D9FF;
  --bg-pages: #FFE0E5;




  --border-radius: 5px;
  --font-size: 16px;
  --font-family: 'Comfortaa';
  --font-banner: 'Bad Script'
}