.Icon {
  font-size: 30px;
}

.IconPhone {
  font-size: 20px;
  margin: 5px 10px 0 10px;
}

@media (min-width: 900px) {
  .Icon {
    font-size: 20px;

    &:hover {
     transform: scale(1.5);
      transition: all .5s ease;
    }
  }
  .IconPhone {
    font-size: 15px;

  }

}
