@import "src/styles/variables.module";

.Price {
  margin: 15px 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0 3px 15px 13.5px #6b6666;
  -moz-box-shadow: 0 3px 15px 13.5px #6b6666;
  box-shadow: 0 3px 15px 13.5px #6b6666;

  &Content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5px 10px;

    &Title {
      font-family: var(--font-banner);
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0;
      text-decoration: underline;
    }

    &List {
      list-style: none;
      font-family: var(--font-banner);
      font-size: 16px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      width: 100%;

      li a {
        padding: 10px 0;
        color: var(--textList-color);
      }
    }
  }
}

@media (min-width: 600px) {
  .Price {
    &Content {
      align-items: center;

      &Title {
        font-size: 25px;
      }

      &List {
        font-size: 20px;
      }
    }
  }

}

@media (min-width: 900px) {
  .Price {
    box-shadow: none;

    &:hover {
      transition: all .5s ease;
      box-shadow: 0 3px 15px 13.5px #6b6666;
      -webkit-box-shadow: 0 3px 15px 13.5px #6b6666;
      -moz-box-shadow: 0 3px 15px 13.5px #6b6666;
    }

    &Content {

      &Title {
        font-family: var(--font-banner);
        font-size: 30px;
      }

      &List {

        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-left: 15px;
        width: 70%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Price {


    &Content {

      &Title {
        font-size: 35px;
      }

      &List {
        font-size: 25px;
        width: 80%;
      }
    }
  }
}