.Banner{
  background-image: url("https://res.cloudinary.com/dj9e1wjcg/image/upload/v1681994648/Sveta-beauty/Banner/flower-7590141_1280_hbgobk.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  height: 500px;
}
