.Banner{
  background-image: url("https://res.cloudinary.com/dj9e1wjcg/image/upload/v1681994725/Sveta-beauty/Banner/abstract-5993113_1280_f4xaux.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
margin-bottom: 10px;

  &Content{
    padding: 50px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .Banner{
    &Content{
      padding: 80px 0 ;
    }
  }

}
@media (min-width: 900px) {
  .Banner{
    &Content{
      padding: 120px 0 ;
    }
  }
}
